.travel-tips {
  background-color: #fffaf0;
  padding: 20px;
  text-align: center;
}

.search-container {
  margin: 50px 50px;
  height: auto;
}

.travel-tips h2 {
  font-size: 2em;
  color: #3c342d;
  margin-bottom: 20px;
}

.travel-tips input {
  width: 50%;
  max-width: 400px;
  display: block;
  margin: 0 auto 10px;
  padding: 10px;
  border: 1px solid #3c342d;
  border-radius: 5px;
}

.travel-tips button {
  padding: 10px;
  background-color: #556b2f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s ease;
}

.travel-tips button:hover {
  background-color: #ff8c00;
}

.result-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.city-title {
  margin-bottom: 15px;
  color: #3c342d;
  text-transform: capitalize;
}

.city-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.city-tip {
  color: #3c342d;
  font-size: 1.1em;
  line-height: 1.5;
}
